.container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #ccc;
}
.contentContainer {
  line-height: 1.6;
  font-size: 18px;
  border: 2px solid #863636;
}
.image {
  width: 150px;
}
.commentsListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid green;
}
.commentList {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  border: 2px solid rgb(179, 19, 165);
}
.listItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.commentFormContainer {
}
