
/* Sidebar Styling */
.sidenav {
  transition: width 0.3s ease-in-out;
  background: #f9f9f9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav.expanded {
  width: 150px;
}

.sidenav.collapsed {
  width: 60px;
}

/* Sidebar Toggle Button */
.toggleBtn {
  background: #BFC9CA;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  padding:5px 14px;
  &:hover{
    background: #4a4a4a;
  }
  border-radius:5px ;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.sidenav ul {
  
  list-style: none;
}

.sidenav ul li {
  margin-bottom: 10px;
  &:hover{
    background: #636360;
  }
}

.sidenav li a {
  padding: 10px 12px;
  color: #636360;
  display: block;
  &:hover{
    color:#fff
  }
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.link_bg {
  background: #BFC9CA;
  &:hover{
    background: #4a4a4a;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .sidenav.expanded {
    width: 180px;
  }
  .sidenav.collapsed {
    width: 50px;
  }
}
