.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  list-style: none;
}
.ul li {
  background: #f5f4f4;
}
.ul li a {
  color: rgb(31, 30, 30);
  font-weight: 800;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}
.link_bg {
  background: #bfc9ca;
  color: #fff;
  text-decoration: underline;
}
